# references 
./preprocessing/refdata-cellranger-arc-GRCh38-2020-A-2.0.0
./preprocessing/refdata-cellranger-arc-mm10-2020-A-2.0.0

# software packages
./preprocessing/cellranger-atac-2.1.0
./preprocessing/bbmap

# python stuff
__pycache__/
*.py[cod]

# Jupyter Notebook
.ipynb_checkpoints

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
