# references 
fastq2frags/refdata-cellranger-arc-GRCh38-2020-A-2.0.0
fastq2frags/refdata-cellranger-arc-mm10-2020-A-2.0.0

# software packages
fastq2frags/cellranger-atac-2.1.0
fastq2frags/bbmap

# in/out files, assume 'D' prefix
fastq2frags/fastqs/D*
fastq2frags/outputs/D*
analysis/spatials/
analysis/fragments/

# ArchR outputs
analysis/ArchRLogs
analysis/*.arrow
analysis/tmp
analysis/QualityControl
analysis/*ArchRProject*
analysis/.Rhistory
analysis/CnT_tutorial_files
analysis/.RDataTmp
analysis/complete.RData
analysis/*.csv
analysis/CnT_tutorial.html

# python stuff
__pycache__/
*.py[cod]

# Jupyter Notebook
.ipynb_checkpoints

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# snakemake
fastq2frags/.snakemake

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
